@font-face {
    font-family: 'Katahdin', 'Arvo', 'Arvo-Italic';
    src:  url('fonts/Katahdin Bold.otf') format('otf'),
          url('fonts/Arvo-Regular.ttf') format('tff'),
          url('fonts/Arvo-Italic.ttf') format('tff');
}

body {
    width: 100%;
}

#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    background-color: rgba(240, 77, 77, .83);
    padding: 5px 25px 15px 25px;
}

#header-description {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-family: 'Arvo';
    margin-top: 10px;
}

#header-description p {
    text-align: right;
    color: #f0ea49;
    font-size: 18px;
}

header img {
    height: 100%;
}

main {
    display: flex;
    margin-top: 50px;
    padding-left: 50px;
}

#side-menu {
    border-top: 5px solid #f26639;
    font-family: 'Katahdin';
    font-size: 16px;
    color: #ed4b64;
}

#side-menu ul {
    padding-left: 0px;
}

#side-menu li {
    list-style: none;
    line-height: 2;
}

#splash-area {
    margin-left: 65px;
}

#splash-area h1 {
    font-family: 'Katahdin';
    font-size: 42px;
    margin-top: 0px;
    color: #ed4b64;
}

#splash-area button {
    border: 1px solid #f04d4d;
    padding: 10px 15px;
    background-color: #f0ea49;
    font-size: 18px;
    color: #f04d4d;
    font-family: 'Arvo-Italic';
}